{% extends "index.html" %} {% block body %}
<body>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12 mb-4 text-center">
        <h3>{{ chat }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 lead text-center">
        <label class="titulo">Número de mensajes intercambiados:</label>
        <strong>{{ resultados.contador_mensajes }} </strong>
      </div>
      {% for usuario in usuarios %}
      <div class="col-6">
        <div class="row">
          <div class="col-12 lead text-center">
            <h3 class="titulo">Datos {{ usuario|title|replace("_"," ") }}:</h3>
          </div>
          <div class="col-12 bg-light m-1 pt-1 pb-1">
            <div class="row">
              <div class="col-6 lead titulo">
                <label> Número de mensajes enviados:</label>
              </div>
              <div class="col-6 lead text-left">
                <strong>{{ resultados[usuario].contador_mensajes }} </strong>
              </div>
            </div>
          </div>
          <div class="col-12 bg-light m-1 pt-1 pb-1">
            <div class="row">
              <div class="col-6 lead titulo">
                <label> Número de palabras:</label>
              </div>
              <div class="col-6 lead text-left">
                <strong>{{ resultados[usuario].contador_palabras }} </strong>
              </div>
            </div>
          </div>
          <div class="col-12 bg-light m-1 pt-1 pb-1">
            <div class="row">
              <div class="col-6 lead titulo">
                <label> Largo promedio de mensajes (en caracteres):</label>
              </div>
              <div class="col-6 lead text-left">
                <strong
                  >{{ resultados[usuario].promedio_largo_mensajes }}
                </strong>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 bg-light m-1 pt-1 pb-1 lead" id="accordionStartConversation{{ usuario }}">
                <div
                    class="card-header"
                    id="headingStartConversation{{usuario}}"
                    data-toggle="collapse"
                    data-target="#collapseStartConversation{{usuario}}"
                    aria-expanded="false"
                    aria-controls="collapseStartConversation{{usuario}}"
                >
                    <h5 class="mb-0 lead titulo text-center m-1 pt-1 pb-1">
                    Arrancó la conversación
                    <strong
                        >{{ resultados[usuario].arranco_conversacion }}
                    </strong>
                    veces
                    </h5>
                </div>
            </div>
            <div
                id="collapseStartConversation{{usuario}}"
                class="col-12 bg-light m-1 pt-1 pb-1 lead collapse"
                aria-labelledby="headingStartConversation{{usuario}}"
                data-parent="#accordionStartConversation{{ usuario }}"
            >                
                <ul class="list-group">
                    {% for mensaje in resultados[usuario].mensajes_arranque %}
                    <li class="list-group-item pt-1 pb-1">{{ mensaje }}</li>
                    {% endfor %}
                </ul>
                <div class="close bg-light" onclick="$('#collapseStartConversation{{usuario}}').collapse('hide')"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 bg-light m-1 pt-1 pb-1 lead" id="accordionMostUsedWords{{ usuario }}">
                <div
                    class="card-header"
                    id="headingMostUsedWords{{usuario}}"
                    data-toggle="collapse"
                    data-target="#collapseMostUsedWords{{usuario}}"
                    aria-expanded="false"
                    aria-controls="collapseMostUsedWords{{usuario}}"
                >
                    <h5 class="mb-0 lead titulo text-center m-1 pt-1 pb-1">
                    Palabras más usadas:
                    </h5>
                </div>
            </div>
            <div
                id="collapseMostUsedWords{{usuario}}"
                class="col-12 bg-light m-1 pt-1 pb-1 lead collapse"
                aria-labelledby="headingMostUsedWords{{usuario}}"
                data-parent="#accordionMostUsedWords{{ usuario }}"
            >
                <ul class="list-group">
                    {% for palabra in resultados[usuario].palabras_mas_usadas
                    %} {% if resultados[usuario].palabras_mas_usadas[palabra]
                    >= resultados.minimo_considerable_palabra_usada %}

                    <li
                    class="list-group-item text-secondary pt-1 pb-1"
                    title="{{palabra}}"
                    >
                    {{ palabra }} : {{
                    resultados[usuario].palabras_mas_usadas[palabra] }}
                    </li>

                    {% endif %} {% endfor %}
                </ul>
                <div class="close bg-light" onclick="$('#collapseMostUsedWords{{usuario}}').collapse('hide')"></div>
            </div>
        </div>
      </div>
      {% endfor %} {% set dias_semana = ['Lunes', 'Martes', 'Miércoles',
      'Jueves', 'Viernes', 'Sábado', 'Domingo'] %}
      <div class="col-12 bg-light m-1 pt-1 pb-1">
        <div class="row">
          <div class="col-6 lead titulo">
            <label> Día de la semana en la que más chatearon:</label>
          </div>
          <div class="col-6 lead text-left">
            <strong>{{ dias_semana[resultados.maximo_dia_mensajes] }} </strong>
          </div>
        </div>
      </div>
      <div class="col-12 bg-light m-1 pt-1 pb-1">
        <div class="row">
          <div class="col-6 lead titulo">
            <label> Hora del día en la que más hablaron:</label>
          </div>
          <div class="col-6 lead text-left">
            <strong>{{ resultados.maximo_hora_mensajes }} hs</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 bg-light m-1 pt-1 pb-1 text-center lead titulo">
        Cantidad de mensajes enviados por hora:
      </div>
      <div class="col-12 bg-light m-1 pt-1 pb-1">
        {% set altura_grafico = 400 %}
        <div
          class="d-flex flex-row align-items-end mt-3"
          style="height:{{ altura_grafico }}px;"
        >
          <div
            class="d-flex flex-column align-items-center ml-1 lead titulo"
            style="
              height: 100%;
              writing-mode: vertical-lr;
              transform: rotate(180deg);
            "
          >
            Cantidad mensajes
          </div>
          {% for cant_mensajes_hora_tal in resultados.hora_mensajes %}

          <div
            class="d-flex flex-column align-items-center bg-dark ml-1 barra"
            style="position:relative; width:{{ 100/25 }}%; height:{{ cant_mensajes_hora_tal/(resultados.hora_mensajes[resultados.maximo_hora_mensajes] +1 )*100 }}%"
          >
            <span class="text-primary" style="position: absolute; top: -20px;">
              {{ cant_mensajes_hora_tal }}
            </span>
            <span
              class="text-secondary"
              style="position: absolute; bottom: -23px;"
            >
              {{ loop.index0 }}
            </span>
          </div>

          {% endfor %}
        </div>
        <div class="text-center mt-4 lead titulo">Horas del día</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 bg-light m-1 mt-4 pt-1 pb-1 text-center lead titulo">
        Cantidad de mensajes enviados en los días de la semana:
      </div>
      <div class="col-12 bg-light m-1 pt-1 pb-1">
        {% set altura_grafico = 400 %}
        <div
          class="d-flex flex-row align-items-end mt-3"
          style="height:{{ altura_grafico }}px;"
        >
          <div
            class="d-flex flex-column align-items-center ml-1 lead titulo"
            style="
              height: 100%;
              writing-mode: vertical-lr;
              transform: rotate(180deg);
            "
          >
            Cantidad mensajes
          </div>
          {% for cant_mensajes_dia_tal in resultados.dia_mensajes %}

          <div
            class="d-flex flex-column align-items-center bg-dark ml-1 barra"
            style="position:relative; width:{{ 100/8 }}%; height:{{ cant_mensajes_dia_tal/(resultados.dia_mensajes[resultados.maximo_dia_mensajes] +1 )*100 }}%"
          >
            <span class="text-primary" style="position: absolute; top: -20px;">
              {{ cant_mensajes_dia_tal }}
            </span>
            <span
              class="text-secondary"
              style="position: absolute; bottom: -23px;"
            >
              {{ dias_semana[loop.index0] }}
            </span>
          </div>

          {% endfor %}
        </div>
        <div class="text-center mt-4 lead titulo">Días de la semana</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 bg-light m-1 pt-1 pb-1 text-center lead titulo">
        Sitios más compartidos:
      </div>
      <div class="col-12 bg-light m-1 pt-1 pb-1">
        <div
          class="d-flex flex-row align-items-end mt-3"
          style="height:{{ altura_grafico }}px;"
        >
          <div
            class="d-flex flex-column align-items-center ml-1 lead titulo"
            style="
              height: 100%;
              writing-mode: vertical-lr;
              transform: rotate(180deg);
            "
          >
            Cantidad de veces compartido
          </div>
          <!-- {{ resultados.sitios_mas_compartidos }}
                        {{ resultados.sitios_mas_compartidos[resultados.maximo_sitio_visitado] }} -->
          {% for sitio in resultados.sitios_mas_compartidos %}

          <div
            class="d-flex flex-column align-items-center bg-dark ml-1 barra"
            style="position:relative; width:{{ 100/loop.length }}%; height:{{ resultados.sitios_mas_compartidos[sitio]/(resultados.sitios_mas_compartidos[resultados.maximo_sitio_visitado] +1 )*100 }}%"
          >
            <span
              class="text-secondary"
              style="position: absolute; top: -20px;"
            >
              {{ resultados.sitios_mas_compartidos[sitio] }}
            </span>
            <span
              class="text-secondary"
              style="
                position: absolute;
                bottom: -23px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              "
              title="{{sitio}}"
            >
              <a href="{{ sitio }}" target="_blank">{{ loop.index }}</a>
            </span>
          </div>
          {% endfor %}
        </div>
        <div class="text-center mt-4 lead titulo">Sitios</div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="accordionChat">
            <div class="card">
              <div
                class="card-header"
                id="headingOChat"
                data-toggle="collapse"
                data-target="#collapseChat"
                aria-expanded="true"
                aria-controls="collapseChat"
              >
                <h4 class="mb-0 text-center titulo">
                  El chat
                </h4>
              </div>
              <div
                id="collapseChat"
                class="collapse show"
                aria-labelledby="headingChat"
                data-parent="#accordionChat"
              >
                <div class="card-body">
                  <div class="row">
                    {% set this_user = usuarios[0] %}
                    {% for key, mensaje in resultados.mensajes %}
                        {% if key == this_user %}
                            <div class="col-8 bg-success text-white p-4 mt-2 rounded-right">
                        {% else %}
                            <div class="col-8 offset-4 bg-primary text-white p-4 mt-2 rounded-left">
                        {% endif %}
                                {{ mensaje }}
                            </div>
                    {% endfor %}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
